@import 'src/assets/styles/variables';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #232431;
    border-radius: 20px;
    margin-top: 30px;
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #232431;
    border-radius: 50%;
    border: 2px solid $content;
    color: $content;
    width: 55px;
    height: 55px;
    font-size: x-large;

    margin-right: 38px;

}

.item:nth-child(3n) {
    margin-right: 0px;
}

.item:nth-child(n + 4) {
    margin-top: 15px;
}

p {
    font-size: larger;
}

