@import 'src/assets/styles/variables';

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div {
		width: 48%;
		> button {
			width: 100%;
		}
		&:last-child > button {
			background-color: #20366b;
			opacity: 0.8;
			transition: opacity 0.15s ease;
			&:hover {
				background-color: #29478c;
				opacity: 1;
			}
		}
	}
}

.container {
	margin: auto;
	margin-top: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #232431;
	width: 500px;
	border-radius: 20px;
	padding: 15px;
}

.button {
	display: flex;
	width: 90px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: $content;
	font-size: large;
	border-radius: 15px;
	margin-right: 30px;
}


.button:last-child {
	margin-right: 0px;
}


.button:hover {
	opacity: .9;
}

.form {
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}