@import 'src/assets/styles/variables';

.container {
    display: flex;
    background-color: #232431;
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    padding: 16px;
    margin-top: 50px;

    .buttonMore {
        padding: 0px;
        background-color: #232431;
        border: 0px;
        color: rgba(255, 255, 255, 0.65);
        opacity: .5;
        font-size: larger;
        padding: 2px;
        width: max-content;
        align-self: flex-end;
    }
}

.addMore {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    background-color: #232431;
    align-items: center;
    justify-content: center;
}

