@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$accent: #190521;
$white: #f1e8e8;
$content: #D98AFF;


$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
