@import 'src/assets/styles/variables';

.container {
    margin-top: 50px;
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.avatar {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    > p {
        display: flex;
        margin-left: 5px;
        font-size: xx-large;
    }

}

.buyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    margin-left: 420px;
    margin-right: 16px;
    border-radius: 15px;
    font-size: large;
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(149, 99, 178, 0.65);
}

.buyButton:hover {
    color: rgba(149, 99, 178, 0.65);
    background-color: rgba(255, 255, 255, 0.65);

}

.telegramIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    margin-right: 16px;
    border: 1px solid rgba(226, 166, 255, 0.35);
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;

    > svg {
        path {
            fill: rgba(149, 99, 178, 0.65);
        }
    }
}

.telegramIcon:hover {
    border-color: rgba(149, 99, 178, 0.65);

    > svg {
        path {
            fill: rgba(226, 166, 255, 0.35);
        }
    }
}

.buttonHolder {
    display: flex;
    min-width: 160px;
    max-height: 46px;
    align-items: center;
    border: 1px solid rgba(226, 166, 255, 0.35);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    > label:not(:last-child) {
        margin-right: 25px;
    }


    > label {
        margin-left: 4px;
        align-self: center;

    }

    > button {
        border: 0;
        background-color: $accent;
        font-size: xx-large;

        svg {
            transform: translateY(4px);
            path {
                fill: rgba(149, 99, 178, 0.65);
            }
        }

    }

    > button:active {
        transform: translateY(-1px);
    }

}


.userInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
